.main-stage-inner
  form(action=_(actionUrl),method='POST').form-horizontal
    input(type='hidden',name='post[oldId]',value='#{post.url}')

    .control-group
      label(for='title').control-label 标题
      .controls
        input(
          type='text'
          name='post[title]'
          value=post.title
        )#title.span6
    .control-group
      label(for='body').control-label 内容
      .controls 
        textarea(
          name='post[body]'
          rows=10
        )#body.span6= post.body
    .control-group
      label(for='url').control-label 自定义URL
      .controls
        input(
          type='text'
          name='post[url]'
          value=post.url
        )#url.span6
    .control-group
      label(for='catalog').control-label 分类
      .controls
        select(name='post[catalog]')#catalog.span6
          each catalog in catalogs
            if catalog._id == post.catalog._id
              option(value=catalog._id,selected)= catalog.name
            else
              option(value=catalog._id)= catalog.name
    .control-group
      label(for='tag').control-label 标签
      .controls
        input(
          type='text'
          name='post[tag]'
          value=post.tag
        )#tag.span6

    .form-actions
      button(type='submit').btn.btn-primary 提交
