.action-bar
  form(action='admin/pictures/',method='GET').form-inline
    label(for='catalog-list') 分类：
    .input-append
      input(
        type='text'
        name='tag'
        placeholder='关键字'
        value=tags
      )

      button(type='submit').btn.btn-primary 转到
  a(href='admin/pictures/new/').btn.btn-success 新建图片
  .clearfix

table.table.table-hover
  thead
    th.span5 标题
    th 日期
    th 标签
    th 动作
  tbody
    each pic in pics
      tr 
        td: a(href=pic.src,title=pic.src)= pic.title
        td= pic.update
        td= pic.tag
        td.action
          a(href='admin/pictures/update/'+pic.id).btn.btn-mini
            | 编辑
          | 
          a(href='admin/pictures/del/'+pic.id).btn.btn-mini
            | 删除
