extends layout

block main-stage
  .main-stage-inner
    form(action='/admin/register', method='POST').form-horizontal
      fieldset
        legend 注册

        .control-group
          label(for='username').control-label 用户名
          .controls
            input(
              type='text'
              name='user[name]'
              placeholder='Email'
            )#username
        .control-group
          label(for='password').control-label 密码
          .controls
            input(
              type='password'
              name='user[pass]'
              placeholder='Password'
            )#password
        .control-group
          label(for='rpassword').control-label 重输密码
          .controls
            input(
              type='password'
              name='user[rpass]'
              placeholder='Re enter password'
            )#rpassword

      .form-actions
        button(type='submit').btn.btn-primary 提交
        | 
        button(type='reset').btn 重填

