extends site

block append head
  link(rel='stylesheet', href=_('/stylesheets/article.css'))

block main-stage
  .main-stage-inner.article
    if typeof post != 'undefined'
      .date-box
        .date= post.date.getDate()
        .year-month= post.date.getFullYear()+' / '+(post.date.getMonth()+1)
      h1.title= post.title
      .info
        | by 
        span.author=  post.author.name
      .text
        !{post.html}
    else
      p No content?

