extends site

block append head 
  link(rel='stylesheet', href='/stylesheets/catalog.css')

block main-stage
  .main-stage-inner 
    .page-header
      h1 
        | #{title} 
        small= description

    .row-fluid
      .span8
        ul.page-list
          mixin displayPost(post)
            .author
                .img
                  img(src=post.author.pic)
                .text= post.author.name
              .box
                .title
                  a(href='/article/'+post.res)= post.title
                .date= post.date
                .tag= post.tag
                .action
                  a(href='/comment/'+post.res).btn.btn-mini 回复
                  | 
                  a(href='/recommend/'+post.url).btn.btn-mini 转载
              .clearfix
          - var ppost = {author:{}}
          - var position = false
          each post in posts
            if ppost.author.name != post.author.name
              - position = !position

            if position
              li.post-left
                mixin displayPost(post)
            else 
              li.post-right
                mixin displayPost(post)

            - ppost = post
          else
            li No more result.
      .span4.sidebar
        .sidebar-box
          .title Calendar
          .content
            table.table.table-bordered
              tr
                td 1
                td 2

