doctype 5
html
  head
    if typeof title != 'undefined'
      title= title
    else
      title Neuola
    block head
      link(rel='stylesheet', href=_('/stylesheets/bootstrap/bootstrap.css'))
      link(rel='stylesheet', href=_('/stylesheets/neuola.css'))
      script(src=_("/javascripts/jquery.js"))

  body
    block content

    script(src=_("/javascripts/bootstrap.js"))
