doctype 5
html
  head
    if typeof title != 'undefined'
      title= title
    else
      title Neuola
    block head
      link(rel='stylesheet', href=basePath+'/stylesheets/bootstrap/bootstrap.css')
      link(rel='stylesheet', href=basePath+'/stylesheets/neuola.css')
      script(src=basePath+"/javascripts/jquery.js")

  body
    block content

    script(src=basePath+"/javascripts/bootstrap.js")
