extends layout

block append head
  link(rel="stylesheet", href=_("/stylesheets/site.css"))

block content
  .nav.navbar.navbar-static-top
    .navbar-inner
      .container
        ul.nav
          block navbar
            li
              a(href=_("/")) 主页
            li 
              a(href=_("/catalog/news")) 新鲜事
            li
              a(href=_("/catalog/test")) 测试的世界
            li
              a(href=_("/catalog/explore")) 探索
            li
              a(href=_("/about")) 关于

  .main-stage.container
    block main-stage

  footer#footer.container
    p.pull-right: a(href=_('/projects')) Projects
    p Neuola &copy; yfwz100

