extends layout

block append head
  link(rel="stylesheet", href=basePath+"/stylesheets/site.css")

block content
  .nav.navbar.navbar-static-top
    .navbar-inner
      .container
        ul.nav
          block navbar
            li
              a(href=basePath+"/") 主页
            li 
              a(href=basePath+"/catalog/news") 新鲜事
            li
              a(href=basePath+"/catalog/test") 测试的世界
            li
              a(href=basePath+"/catalog/explore") 探索
            li
              a(href=basePath+"/about") 关于

  .main-stage.container
    block main-stage

  footer#footer.container
    p.pull-right: a(href=basePath+'/projects') Projects
    p Neuola &copy; yfwz100

