extends layout

block content
  .nav.navbar.navbar-static-top
    .navbar-inner
      .container
        span.brand 东大在线
        ul.nav
          block navbar
            li
              a(href=_("/")) 主页
            li
              a(href=_("/catalog/explore")).catalog 精选
            li
              a(href=_("/catalog/news")).catalog 活动
            li
              a(href=_("/about")) 关于
            
        if session.user 
          a(href=_('/user/logout')).btn.pull-right 退出

  .main-stage.container
    block main-stage

  footer#footer.container
    p.pull-right: a(href='https://gitorious.org/neuola') 项目主页
    p Neuola &copy; 东大在线

